/* CSS for Shearwater treemap generator */

.shearwaterTreemapContainer {
  position: relative;
  border: 2px solid #808080;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 200;
  color: white;
}

.shearwaterTreemapArea {
  position: absolute;
  overflow: hidden;
  background-color: #808080;
  outline: 1px solid white;
}

.shearwaterTreemapLabel {
  padding: 5px;
}
