/* CSS for Tweemap treemap generator */

.tweemapTreemapContainer {
  position: relative;
  border: 2px solid #4EB7E5;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: white;
}

.tweemapTreemapContainer .tweemapTreemapContainer {
  position: absolute;
  border: 0;
  z-index: 1;
}

.tweemapTreemapArea {
  position: absolute;
  background-color: #808080;
  outline: 1px solid white;
  cursor: pointer;
}

.tweemapTreemapLabel {
  position: absolute;
  left: 0;
  right: 1px;
  background: inherit;
  padding: 2px 4px;
  z-index: 2;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tweemapTreemapArea:hover > .tweemapTreemapLabel {
  overflow: visible;
  right: auto;
  outline-width: 1px;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}

.tweemapTreemapAreaHover {
  color: black;
  outline-color: #ebd591;
}
